@font-face {
    font-family: "Calluna";
    src: url("fonts/Calluna-Regular.otf");
    }

body {
    font-family: 'Calluna', sans-serif;
}

a,
a:link {
    color: #c72121;
    text-decoration: none;
}

.background {
    background-color:rgb(252, 250, 246);
}

a:hover,
a.active {
    color: #f50707;
}


article p:first-child:first-letter {
    float: left;
    font-size: 54px;
    line-height: 40px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 0px;
  }

 

  .github {
    fill: #c72121; 
  }

  .dot {

        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
 
  }

a svg:hover #github,
a svg:hover #instagram { 
  fill: #f50707;
}